<!-- /project/users/templates/login.html -->

{% extends "template.html" %}

{% block content %}

	<h2>Welcome</h2>
	<form class='form-signin' role='form' method='post' action='/users/'>
	{{ form.csrf_token }}
	<div class='lead'>Please sign in to access your task list</div>
	<p>
		{{ form.name(placeholder='name') }}
		<span class='error'>
		{% if form.name.errors %}
			{% for error in form.name.errors %}
				{{ error }}
			{% endfor %}
		{% endif %}
		</span>
	</p>
	<p>
		{{ form.password(placeholder='password') }}
		<span class='error'>
		{% if form.password.errors %}
			{% for error in form.password.errors %}
				{{ error }}
			{% endfor %}
		{% endif %}
		</span>
	</p>
	<div class='row'>
		
	</div>
	<button type="submit" class='btn btn-small btn-success' >Sign in</button>
	<p style='padding-top:20px;'><em>Need an account? </em><a href="{{ url_for('users.register') }}">Signup!</a></p>
	</form>
{% endblock %}
