body {
	padding:60px 0px;
}

.footer {
	padding-top: 60px;
	text-align: center;
}

.error {
	color:red;
	font-size: 0.8em;
}

th {
 	padding-right: 10px;
}

.alert {
	text-align:center;
	padding:5px;
	border-radius: 6px;

}

textarea.form-control {
height: 37px;
}
/*#priority.form-control {
	max-width:50px;
}
#submit.form-control {
	max-width:50px;
}*/

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

.flash {
	text-align:center;
	background-color: white
}