<!-- /project/tasks/templates/tasks.html -->

{% extends 'template.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block page_content %}

	<h2 style='text-align:center;'>iGaming Analytics Taskr</h2>
	
	<div class='add-task'>
		<div class='lead'>Add a new request:</div>
		<form action= "{{ url_for('tasks.new_task') }}" class="form form-inline" method="post" role="form">
		  {{ form.hidden_tag() }}
		  {{ wtf.form_errors(form, hiddens="only") }}
		  {{ wtf.form_field(form.name, placeholder='Request Subject') }}
		  {{ wtf.form_field(form.due_date, placeholder='Due Date') }}
		  {{ wtf.form_field(form.priority) }}
		  {{ wtf.form_field(form.content, placeholder='Request') }}
		  {{ wtf.form_field(form.submit, button_map={'submit':'success'}) }}
		</form>

	</div>
<div class='entries'>
<br>
<br>
<div class='lead'>Currently Open Requests:</div>
<hr>
<table class='table table-striped'>
	<thead>
		<tr>
			<th>Task Name</th> 
			<th>Due Date</th>
			<th>Posted Date</th> 
			<th>Priority</th>
			<th>Posted By</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for o in open_tasks %}
		<tr>
			<td>{{ o.name }}</td> 
			<td>{{ moment(o.due_date).fromNow(refresh=True) }} </td>
			<td>{{ moment(o.posted_date).fromNow(refresh=True) }}</td>  
			<td>{{ o.priority }}</td> 
			<td>{{ o.poster.name }}</td> 
			<td>
			{% if o.poster.name == session.name or session.role == 'admin' %}
				<a href="{{ url_for('tasks.complete', task_id = o.task_id) }}">Mark as Complete</a>
			{% else %}
				<span> - </span>
			{% endif %}
			</td> 
			</tr>
		{% endfor %} 
	</tbody>
</table>
</div>
<br>
<br>

<div class='entries'>
<br>
<br>
<div class='lead'>Closed Tasks</div>
<hr>
<table class='table table-striped'>
	<thead>
		<tr>
			<th>Task Name</th> 
			<th>Due Date</th>
			<th>Posted Date</th> 
			<th>Priority</th>
			<th>Posted By</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for c in closed_tasks %}
		<tr>
			<td>{{ c.name }}</td> 
			<td>{{ moment(c.due_date).fromNow(refresh=True) }} </td>
			<td>{{ moment(c.posted_date).fromNow(refresh=True) }}</td> 
			<td>{{ c.priority }}</td> 
			<td>{{ c.poster.name }}</td> 
			<td>
			{% if c.poster.name == session.name or session.role == 'admin' %}
				<a href="{{ url_for('tasks.delete_entry', task_id = c.task_id) }}">Delete</a>
			{% else %}
				<span> - </span>
			{% endif %}
				
			</td> 
			</tr>
		{% endfor %} 
	</tbody>
</table>
</div>
{% endblock %}




